<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Calorie Calculator</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<script src="../js/index.js" defer></script>
</head>
<body>
<div class="center-content-container">
	<div id="cal-calc-container" class="cal-calc-container">
		<h2 class="calorie-calculator-title">Calorie Calculator</h2>

		<div class="input-group cal-calc-item">
			<input id="input-weight" type="number" class="form-control" placeholder="75" min="1" aria-label="Amount (to the nearest dollar)" required>
				<div class="input-group-append">
					<span class="input-group-text">KG</span>
				</div>
			</div>

			<div class="input-group cal-calc-item">
				<input id="input-height" type="number" class="form-control" placeholder="178" min="1" required>
				<div class="input-group-append">
					<span class="input-group-text">CM</span>
				</div>
			</div>

			<div class="input-group cal-calc-item">
				<input id="input-age" type="number" class="form-control" placeholder="21" min="1" required>
				<div class="input-group-append">
					<span class="input-group-text">AGE</span>
				</div>
			</div>

		<div class="btn-group btn-group-toggle btn-width-full cal-calc-item" data-toggle="buttons">
			<label id="option-female" class="btn btn-secondary">
				<input type="radio" name="options" autocomplete="off" checked> Female
			</label>
			<label id="option-male" class="btn btn-secondary">
				<input type="radio" name="options" autocomplete="off"> Male
			</label>
		</div>
		
		<div id="bmr-output-container" class="bmr-output-container hidden">
			<div id="msj" class="card fade-in">
				<div class="card-body">
					<h5 class="card-title">Mifflin St Jeor</h5>
					<ul>
						<li class="bmr">BMR: null</li>
						<!-- <li class="carbs">Carbohydrates: null</li> -->
						<!-- <li class="fats">Fats: null</li> -->
						<!-- <li class="protein">Proteins: null</li> -->
					</ul> 
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>